.main-content {
    background-color: var(--bg-grey-color);

    .card {
        background-color: var(--white-color);
        border: 1px solid var(--bg-grey-dark-color);

        div:first-child .icon--float {
            position: absolute;
            right: 0;
            padding: 0;
            z-index: 2;
            background-color: var(--white-color);
            border: none;
        }

        & > div:nth-child(2) {
            border-top: 1px solid var(--bg-grey-dark-color);
        }
    }
}