<div class="d-flex flex-column p-3">
    <div class="d-flex flex-row justify-content-end w-100 p-3">
        <button (click)="openModal()">
            <p>Add</p>
            <lucide-angular [img]="icons.plus" class="my-icon"></lucide-angular>
        </button>
    </div>
    <div class="main-content d-flex w-100 p-3">
        <div class="row d-flex gap-3 w-100">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 p-0" *ngFor="let task of tasks">
                <div class="card p-3">
                    <div class="py-2">
                        <button class="icon--float" (click)="deleteTask(task.id)">
                            <lucide-angular [img]="icons.trash" class="my-icon"></lucide-angular>
                        </button>
                        <p class="fw-bold ellipsis">{{task.title}}</p>
                        <p class="fw-light ellipsis">{{task.description}}</p>
                    </div>
                    <div class="mt-4 py-2 d-flex flex-row justify-content-between flex-wrap">
                        <p class="fw-light ellipsis">{{task.user_email}}</p>
                        <div class="d-flex flex-row">
                            <p>{{task.status}}</p>
                            <lucide-angular [img]="icons[getStatusKey(task.status)]"></lucide-angular>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal [isOpen]="showModal" [title]="'Tarea'" (closeModal)="closeModal()">
    <app-task-form (formData)="onCreate($event)"></app-task-form>
</app-modal>