<form class="form col-12 col-md-4 w-100 h-100 p-5" [formGroup]="forgetForm" (ngSubmit)="onSend()">
    <p class="title mb-4">{{ 'OLVIDO_CONTRASEÑA' | translate }}</p>
    <div class="form-group w-100 mb-1">
        <label class="mb-2 required" for="email">{{ 'EMAIL' | translate }}</label>
        <input type="text" id="email" formControlName="email" placeholder="John Doe" autocomplete="off" required>
    </div>
    <p *ngIf="submitted && forgetForm.invalid" class="text--xs text--error">Invalid form!</p>
    <p class="my-3 text--xs">{{ 'MENSAJE_OLVIDO_CONTRASEÑA' | translate }}</p>
    <div *ngIf="newPassword" class="d-flex justify-content-between p-3 container-newPassword">
        <p>{{ newPassword }}</p>
        <lucide-angular [img]="icons.copy" class="my-icon" title="Copy" (click)="onCopy()"></lucide-angular>
    </div>
    <div class="d-flex w-100 justify-content-end mt-4">
        <input *ngIf="!newPassword" type="submit" class="btn btn-primary" [value]="'ENVIAR_EMAIL' | translate">
        <button *ngIf="newPassword" class="btn btn-primary" (click)="goToHome()">{{ 'INICIAR_SESION' | translate }}</button>
    </div>
</form>