<div class="aside-container" [class.open]="isOpen" (mouseleave)="isOpen = false">
  <nav class="up-menu">
    <ul>
      <li class="menu-toggle d-flex flex-row align-items-center" (click)="toggleMenu()">
        <a class="d-flex flex-row">
          <lucide-angular [img]="icons.menu" class="my-icon"></lucide-angular>
          <p>Menu</p>
        </a>
      </li>
      <li class="menu-toggle d-flex flex-row align-items-center">
        <a class="d-flex flex-rowr" href="" [routerLink]="['/home', { outlets: { dashboard: ['tasks'] } }]">
          <lucide-angular [img]="icons.archive" class="my-icon"></lucide-angular>
          <p>Profile</p>
        </a>
      </li>
      <li class="menu-toggle d-flex flex-row align-items-center">
        <a class="d-flex flex-row" href="" [routerLink]="['/home', { outlets: { dashboard: ['test'] } }]">
          <lucide-angular [img]="icons.archive" class="my-icon"></lucide-angular>
          <p>Tasks</p>
        </a>
      </li>
    </ul>
  </nav>
  <nav class="down-menu">
    <ul>
      <li class="menu-toggle d-flex flex-row align-items-center" (click)="logout()">
        <a class="d-flex flex-row">
          <p>Logout</p>
          <lucide-angular [img]="icons.logOut" class="my-icon"></lucide-angular>
        </a>
      </li>
      <li class="menu-toggle d-flex flex-row align-items-center">
        <a class="d-flex flex-row">
          <p>Mode</p>
          <lucide-angular [img]="icons.sun" class="my-icon"></lucide-angular>
        </a>
      </li>
    </ul>
  </nav>
</div>